### TODO:
1. For each month, sort articles by viewcount
2. Limit to top 1000 articles

In [1]:
# import libraries
import pandas as pd
import os
from tempfile import mkstemp
from shutil import move
from os import fdopen, remove
import pickle
import numpy as np
import sqlalchemy as sql
import csv
from tqdm import tqdm_notebook
import wikipedia
from multiprocessing import Pool
import datetime

In [ ]:
DIR = "/home/justina/Desktop/dv/data_viz/server/wiki-data/2016-2018"
lst_data= os.listdir(DIR)

In [ ]:
def replace(file_path):

    fh, abs_path = mkstemp()
    with fdopen(fh, 'w') as new_file:
        with open(file_path) as old_file:
            for line in old_file:
                head = line.split(';')[0:-2]
                tail= line.split(';')[-2:]
                tail = ' '.join(tail)
                head = ';'.join(head)
                final = head + ' ' + tail
                new_file.write(final)
    old = len(open(file_path).readlines())
    new = len(open(abs_path).readlines())
    print("Number of lines: ")
    print("{}, Old: {}, New: {}".format(file_path,old, new))
    
    if old == new:
        move(abs_path, file_path)
        
for file in lst_data:
    if 'pagecounts' in file:
        if 'spaces' not in file:
            replace(os.path.join(DIR, file))

In [ ]:
def create_df(folder_of_files):
    # df of article name, monthly viewcount, day
    
    lst_data = os.listdir(folder_of_files)
    # lst_data=['pagecounts-2016-10-views-ge-5_cleaned']
    columns = ['article_name', 
               'monthly_viewcount', 
               'day']
    df = pd.DataFrame([])
    year_month = []
    for file in lst_data:
        if 'pagecounts' in file:
            next_df = pd.read_csv(os.path.join(folder_of_files, file), sep=' ',dtype={columns[0]:str, columns[1]:int, columns[2]:int}, header=None, names=columns)
            lst_filename = file.split('-')
            yr = lst_filename[1]
            mth = lst_filename[2]
            next_df['year'] = yr
            next_df['month'] = mth
            year_month.append((int(yr), int(mth)))
            next_df.sort_values(by='monthly_viewcount', ascending=False, inplace=True)
            print("Before filtering {}-{}: {}".format(yr,mth,next_df.year.size))
            mask = next_df.article_name.str.contains('Special:') | \
                    next_df.article_name.str.contains('Main_Page') | \
                    next_df.article_name.str.contains('Portal:') | \
                    next_df.article_name.str.contains('Wikipedia:') |\
                    next_df.article_name.str.contains('List of ') |\
                    next_df.article_name.str.contains('Special%:') |\
                    next_df.article_name.str.contains('User:') |\
                    next_df.article_name.str.contains('Help:') |\
                    next_df.article_name.str.contains('Category:') |\
                    next_df.article_name.str.contains('-') |\
                    next_df.article_name.str.contains('404.php') |\
                    next_df.article_name.str.contains('File:')
            
            next_df=next_df[~mask]
            print("After filtering: {}".format(next_df.year.size))
            df = pd.concat([df, next_df.head(1000)], ignore_index = True)
    
    df = df.astype({'article_name': 'str', 'monthly_viewcount': 'int64', 'day': 'int64', 'year': 'int64', 'month':'int64'})
    df['peak_date'] = pd.to_datetime(df[['year', 'month', 'day']])
    return df

In [ ]:

# df = df.astype({'article_name': 'str', 'monthly_viewcount': 'int64', 'day': 'int64', 'year': 'int64', 'month':'int64'})
# df['peak_date'] = pd.to_datetime(df[['year', 'month', 'day']])
# df.head()

df = create_df(os.path.join(DIR, 'final'))

In [ ]:
df.groupby(['year', 'month']).count()

In [2]:
wikipedia.set_lang('en')
wikipedia.set_rate_limiting(rate_limit = True)
def get_article_data(x):
    row = x
    try:
        name = row['article_name']
        page = wikipedia.WikipediaPage(title=name)
        return name, page, row
        
    except:
        name = row['article_name']
        print(name)
        return name, None, row

def insert(lst, con, articles, article_name, year, month, day, view_count, peak_date, summary, page_id):
    lst.append({'title': article_name,
                   'year': year,
                   'month':month,
                   'day':day,
                   'view_count':view_count,
                   'peak_date': peak_date,
                   'summary': summary,
                   'page_id': page_id})
    if len(lst) > 50:
        print("Inserting...")
        con.execute(articles.insert(), lst)
#         except:
#             print("Did not insert")
        lst = []
    return lst

In [ ]:
fromdb_df = pd.read_csv('./2016-2018/top_1000_2016-2018/fromdb_data.csv', names = ['article_name', 'summary', 'page_id'])
fromdb_df.head()

In [ ]:
'404.php' in fromdb_df.article_name
fromdb_df.loc[1].article_name

article_names = set(fromdb_df.article_name.values)

In [ ]:
'404.php' in article_names
# summary = fromdb_df[fromdb_df['article_name']=='adsf'].summary.values[0]
print(fromdb_df[fromdb_df['article_name']=='404.php'].summary.values[0])

In [3]:
def get_final_data(filepath):    
    # df has title, year, month, day, viewcount, peak date
    fromdb_df = pd.read_csv('./2016-2018/top_1000_2016-2018/fromdb_data.csv', names = ['article_name', 'summary', 'page_id'], na_values = '')
    db_dict = {}
    for i, row in fromdb_df.iterrows():
        db_dict[row['article_name']] = (row['summary'], row['page_id'])
        
    article_names = set(fromdb_df.article_name.values)
    new_df = pd.DataFrame(columns = ['title', 'year', 'month', 'day', 'view_count', 'peak_date', 'summary', 'page_id'])
    df = pd.read_csv(filepath)
    exists = []
    for _, row in tqdm_notebook(df.iterrows(), total = len(df)):
        try:
            title = row['article_name']
            year = row['year']
            month = row['month']
            day = row['day']
            view_count =row['monthly_viewcount']
            peak_date = row['peak_date']

            if (title in db_dict):
                summary = db_dict[title][0]
                page_id = db_dict[title][1]
            else:
                _, page, _ = get_article_data(row)
                if page:
                    summary = page.summary
                    page_id = page.pageid
                    
                else:
                    summary = ""
                    page_id = -1
                db_dict[title] = (summary, page_id)
            new_df = new_df.append({'title': title,
                          'year': year,
                          'month': month,
                          'day': day,
                          'view_count': view_count,
                          'peak_date': peak_date,
                          'summary': summary,
                          'page_id': page_id}, ignore_index= True)
        except Exception as e: 
            print("Failed", row['article_name'])
            print(e)


    new_df.to_csv('./2016-2018/top_1000_2016-2018/final_data_0.csv')
    return new_df

In [4]:
get_final_data('./2016-2018/top_1000_2016-2018/partial_view_data0.csv')

HBox(children=(IntProgress(value=0, max=17500), HTML(value='')))

Characters_of_Warcraft

/home/justina/Desktop/dv/dv/lib/python3.5/site-packages/wikipedia/wikipedia.py:389: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 389 of the file /home/justina/Desktop/dv/dv/lib/python3.5/site-packages/wikipedia/wikipedia.py. To get rid of this warning, pass the additional argument 'features="html.parser"' to the BeautifulSoup constructor.

  lis = BeautifulSoup(html).find_all('li')

Alice_Through_the_Looking_Glass_(film)
The_Visit_(2015_film)
New_York
Dualistic
Daredevil_(Marvel_Comics)
Salvatore
Murder_of_JonBen��t_Ramsey
User_talk:199.15.233.174
Calc
2016_Central_Italy_earthquake

,title,year,month,day,view_count,peak_date,summary,page_id
0,UEFA_Euro_2016,2016,6,22,4778955,2016-06-22,"The 2016 UEFA European Championship, commonly ...",7932564
1,Muhammad_Ali,2016,6,4,3227930,2016-06-04,Muhammad Ali (; born Cassius Marcellus Clay Jr...,63747
2,Game_of_Thrones_(season_6),2016,6,27,2128577,2016-06-27,The sixth season of the fantasy drama televisi...,43186937
3,Deaths_in_2016,2016,6,20,1919334,2016-06-20,"This is a list of notable deaths, organized by...",36258669
4,Copa_América_Centenario,2016,6,13,1718182,2016-06-13,The Copa América Centenario (English: Centenni...,34677597
5,Game_of_Thrones,2016,6,27,1619228,2016-06-27,Game of Thrones is an American fantasy drama ...,20715044
6,Christina_Grimmie,2016,6,11,1353079,2016-06-11,"Christina Victoria Grimmie (March 12, 1994 – J...",30963890
7,European_Union,2016,6,24,1292592,2016-06-24,The European Union (EU) is a political and eco...,9317
8,List_of_Game_of_Thrones_episodes,2016,6,27,1197378,2016-06-27,Game of Thrones is an American fantasy drama t...,31120069
9,The_Conjuring_2,2016,6,13,1112128,2016-06-13,The Conjuring 2 (also known as The Conjuring 2...,43360594
10,Warcraft_(film),2016,6,10,1101358,2016-06-10,Warcraft (alternatively known as Warcraft: Th...,39701440
11,Donald_Trump,2016,6,14,1027156,2016-06-14,"Donald John Trump (born June 14, 1946) is the ...",4848272
12,Atmospheric_pressure,2016,6,14,1021615,2016-06-14,,47484
13,Earth,2016,6,22,943384,2016-06-22,Earth is the third planet from the Sun and the...,9228
14,2016_Orlando_nightclub_shooting,2016,6,13,916255,2016-06-13,"On June 12, 2016, Omar Mateen, a 29-year-old s...",50787160
15,United_Kingdom_European_Union_membership_refer...,2016,6,24,871010,2016-06-24,The United Kingdom European Union membership r...,37729052
16,LeBron_James,2016,6,20,846214,2016-06-20,"LeBron Raymone James Sr. (; born December 30, ...",240940
17,Independence_Day:_Resurgence,2016,6,24,833060,2016-06-24,Independence Day: Resurgence (also known as ID...,44523855
18,Finding_Dory,2016,6,20,832838,2016-06-20,Finding Dory is a 2016 American 3D computer-an...,38992103
19,United_Kingdom,2016,6,24,832830,2016-06-24,"The United Kingdom, officially the United King...",31717
20,Anton_Yelchin,2016,6,20,831380,2016-06-20,Anton Viktorovich Yelchin (11 March 1989 – 19 ...,1034732
21,United_Kingdom_withdrawal_from_the_European_Union,2016,6,24,808113,2016-06-24,"Brexit ( or ), a portmanteau of ""British exit""...",41688778
22,Karl_Landsteiner,2016,6,14,796527,2016-06-14,"Karl Landsteiner, , (14 June 1868 – 26 June 19...",18945023
23,Jo_Cox,2016,6,16,787277,2016-06-16,Helen Joanne Cox (née Leadbeater; 22 June 1974...,46644858
24,2016_in_film,2016,6,3,762865,2016-06-03,"2016 in film is an overview of events, includi...",20068492
25,List_of_Bollywood_films_of_2016,2016,6,26,742622,2016-06-26,This is a list of Bollywood films that were re...,44953417
26,Orange_Is_the_New_Black,2016,6,18,716895,2016-06-18,Orange Is the New Black (sometimes abbreviated...,34119966
27,Barack_obama,2016,6,12,693923,2016-06-12,Barack Hussein Obama II ( (listen); born Augus...,534366
28,Kimbo_Slice,2016,6,7,692807,2016-06-07,"Kevin Ferguson (February 8, 1974 – June 6, 201...",17709998
29,Porcupine_Tree,2016,6,20,677649,2016-06-20,Porcupine Tree were an English rock band forme...,364934
...,...,...,...,...,...,...,...,...
17470,Batman_v_Superman:_Dawn_of_Justice,2016,12,4,176683,2016-12-04,Batman v Superman: Dawn of Justice is a 2016 A...,2619910
17471,Hong_Kong,2016,12,6,176642,2016-12-06,Hong Kong (Chinese: 香港; pronunciation in Hong ...,13404
17472,Miniature_Australian_Shepherd,2016,12,18,176363,2016-12-18,"The Miniature American Shepherd, frequently ab...",37881767
17473,Anna_Faris,2016,12,10,176084,2016-12-10,"Anna Kay Faris (; born November 29, 1976) is a...",277693
17474,Alan_Rickman,2016,12,29,175786,2016-12-29,Alan Sidney Patrick Rickman (21 February 1946 ...,39879
17475,The_Ultimate_Fighter:_Tournament_of_Champions,2016,12,4,175695,2016-12-04,The Ultimate Fighter: Tournament of Champions ...,50521210
17476,Prince_(musician),2016,12,26,174975,2016-12-26,"Prince Rogers Nelson (June 7, 1958 – April 21,...",57317
17477,Special_education,2016,12,31,174958,2016-12-31,Special education (also known as special needs...,436831
17478,Dab_(dance),2016,12,7,174885,2016-12-07,"Dabbing, or the dab, is a simple dance move or...",49005200
17479,Vajiralongkorn,2016,12,2,173883,2016-12-02,Maha Vajiralongkorn Bodindradebayavarangkun (T...,860760
17480,Agents_of_S.H.I.E.L.D._(season_4),2016,12,7,172370,2016-12-07,The fourth season of the American television s...,49635999
17481,Rick_and_Morty,2016,12,12,172210,2016-12-12,Rick and Morty is an American adult animated s...,41185040
17482,Will_Smith,2016,12,8,171630,2016-12-08,Willard Carroll Smith Jr. (born September 25...,154698
17483,Leonard_Cohen,2016,12,26,171570,2016-12-26,"Leonard Norman Cohen (September 21, 1934 – No...",19965375
17484,The_Rolling_Stones,2016,12,2,171318,2016-12-02,The Rolling Stones are an English rock band fo...,31056
17485,English_language,2016,12,20,171121,2016-12-20,English is a West Germanic language that was f...,8569916
17486,Magda_Gabor,2016,12,19,170327,2016-12-19,"Magdolna ""Magda"" Gabor (June 11, 1915 – June 6...",152913
17487,Isaac_Newton,2016,12,7,170298,2016-12-07,Sir Isaac Newton (25 December 1642 – 20 March...,14627
17488,Narendra_Modi,2016,12,5,169758,2016-12-05,Narendra Damodardas Modi (pronounced [ˈnəɾeːnd...,444222
17489,Magic_SysRq_key,2016,12,19,169748,2016-12-19,The magic SysRq key is a key combination under...,2449993
17490,Ben_Affleck,2016,12,18,169666,2016-12-18,"Benjamin Géza Affleck-Boldt (born August 15, 1...",159599
17491,Richard_Nixon,2016,12,15,169390,2016-12-15,"Richard Milhous Nixon (January 9, 1913 – April...",25473
17492,Computer,2016,12,31,169145,2016-12-31,A computer is a device that can be instructed ...,7878457
17493,Alan_Tudyk,2016,12,19,169135,2016-12-19,"Alan Wray Tudyk ( TEW-dik; born March 16, 1971...",608695
17494,Switzerland,2016,12,12,168901,2016-12-12,"Switzerland, officially the Swiss Confederatio...",26748
17495,Philosophy_of_education,2016,12,31,168829,2016-12-31,The philosophy of education examines the goals...,24983
17496,Educational_technology,2016,12,31,168797,2016-12-31,"Educational technology is ""the study and ethic...",1944675
17497,Normal_distribution,2016,12,7,168695,2016-12-07,"In probability theory, the normal (or Gaussian...",21462
17498,Rae_Sremmurd,2016,12,2,168078,2016-12-02,Rae Sremmurd () is an American hip hop duo ori...,43424676
17499,Zootopia,2016,12,12,167599,2016-12-12,Zootopia is a 2016 American 3D computer-animat...,42089078

In [ ]:
len(set(df.article_name.unique()) - set(fromdb_df.article_name.unique()))

In [ ]:
df.to_csv('./wiki-data/2016-2018/top_1000_2016-2018/view_data.csv')
df_array = np.array_split(df,2)
for i, dframe in enumerate(df_array):
    dframe.to_csv('./wiki-data/2016-2018/top_1000_2016-2018/partial_view_data{}.csv'.format(i))

In [ ]:
x[:2]

## Read the data from top 1000 per month
TOP1000_DIR = "/home/justina/Desktop/dv/data_viz/server/wiki-data/top_1000_2016-2018"

df1 = pd.DataFrame([])
for f in os.listdir(TOP1000_DIR):
    if 'counts' in f:
        df1 = pd.concat([df1, pd.read_csv(os.path.join(TOP1000_DIR, f))])

In [ ]:
df1.year.size

In [ ]:
def print_rows(limit=10):
    i = 0
    with engine.connect() as con:
        rows = con.execute(articles.select())
        for r in rows:
            print(r.title, int(r.view_count))
            i += 1
            if ( i == limit): return

In [ ]:
print_rows()

In [ ]:
urls_folder_path = "/home/justina/Desktop/dv/data_viz/server/wiki/"

links = open(os.path.join(urls_folder_path, 'urls_all.txt'),'r').readlines()
for i in range(0, len(links),5):
    fh, abs_path = mkstemp()
    with fdopen(fh, 'w') as new_file:
        print(i, i+5)
        for j in links[i:i+5]:
            new_file.write(j)
    move(abs_path, os.path.join(urls_folder_path, 'url{}.txt'.format(i)))

## Add may 2017 data to db again

In [ ]:
TOP1000_DIR = "/home/justina/Desktop/dv/data_viz/server/wiki-data/top_1000_per_month"

df1 = pd.DataFrame([])
for f in os.listdir(TOP1000_DIR):
    if 'counts' in f:
        df1 = pd.concat([df1, pd.read_csv(os.path.join(TOP1000_DIR, f))], ignore_index = True)
        
df1.year.size

In [ ]:
df1[(df1.month == 5) & (df1.year == 2017)].head(50)[['article_name', 'peak_date']]

In [ ]:
def add_entries(engine_path, df):
    engine = sql.create_engine(engine_path)
    metadata = sql.MetaData()
    articles = sql.Table('articles', metadata,
        sql.Column('title', sql.String),
        sql.Column('year', sql.Integer),
        sql.Column('month', sql.Integer),
        sql.Column('day', sql.Integer),
        sql.Column('view_count', sql.Integer), 
        sql.Column('peak_date', sql.Date),
        sql.Column('summary', sql.Text),
        sql.Column('page_id', sql.Integer)
    )
    metadata.create_all(engine)

    result = []
    errors = []
    wiki_df = pd.DataFrame(columns=['article_name', 'summary', 'page_id'])

    with engine.connect() as con:
        lst = list(df.iterrows())
    #     with Pool(50) as pool:
    #     for each in tqdm_notebook(pool.imap(get_article_data, lst), total=len(lst)):
        for _, row in lst:
            name = row['article_name']
            year = row['year']
            month = row['month']
            day = row['day']
            view_count = row['monthly_viewcount']
            peak_date = datetime.datetime.strptime(row['peak_date'], '%Y-%m-%d').date()

            if name not in wiki_df.article_name.values:
                name, page, r = get_article_data(row)

                if page:
                    wiki_df = wiki_df.append({'article_name': name, 'summary': page.summary, 'page_id': page.pageid}, ignore_index = True)
                else:
                    wiki_df = wiki_df.append({'article_name': name, 'summary': "", 'page_id': -1}, ignore_index = True)

                result = insert(result,con, articles, name, year, month, day, view_count, peak_date, wiki_df[wiki_df['article_name'] == name].summary.values[0], wiki_df[wiki_df['article_name'] == name].page_id.values[0])
            

        con.execute(articles.insert(), result)
                
        return wiki_df

In [ ]:
wiki_df=add_entries('sqlite:///test.db', df1.loc[100:150])

In [ ]:
# Create dataframe of all the data

In [ ]:
wiki_df

In [ ]:
engine = sql.create_engine('sqlite:///test.db')
metadata = sql.MetaData()
articles = sql.Table('articles', metadata,
    sql.Column('title', sql.String),
    sql.Column('year', sql.Integer),
    sql.Column('month', sql.Integer),
    sql.Column('day', sql.Integer),
    sql.Column('view_count', sql.Integer), 
    sql.Column('peak_date', sql.Date),
    sql.Column('summary', sql.Text),
    sql.Column('page_id', sql.Integer)
)
metadata.create_all(engine)

result = []
errors = []
wiki_df = pd.DataFrame(columns=['article_name', 'summary', 'page_id'])

with engine.connect() as con:
    name = df1.loc[0,'article_name']
    year = df1.loc[0,'year']
    month = df1.loc[0,'month']
    day = df1.loc[0,'day']
    view_count = df1.loc[0,'monthly_viewcount']
    peak_date = datetime.datetime.strptime(df1.loc[0,'peak_date'], '%Y-%m-%d').date()

    name, page, row = get_article_data((df1.loc[0]))
    con.execute(articles.insert(), {'title': name,
                                   'year': year,
                                   'month': month,
                                   'day': day,
                                   'view_count': view_count,
                                   'peak_date': peak_date,
                                   'summary': "",
                                   'page_id': -1})

In [ ]:
df1.loc[0,'peak_date']

In [ ]:
wiki_df = add_entries('sqlite:///database_working_add_052017.db',df1)

In [ ]:
df1.dtypes

In [ ]:
wiki_df = add_entries('sqlite:///database_working_add_052017.db',df1[851:])

In [ ]:
df1[df1.article_name == 'Restoration_(Spain)']

In [12]:
columns = ['title', 'year', 'month', 'day', 'view_count', 'peak_date', 'summary', 'page_id']

df_input0 = pd.read_csv('./2016-2018/top_1000_2016-2018/final_data_0.csv', names = columns, skiprows=1)
df_input1 = pd.read_csv('./2016-2018/top_1000_2016-2018/final_data_1.csv', names = columns, skiprows=1)
df_all = pd.concat([df_input0, df_input1], ignore_index=True)

df_all = df_all.reset_index()

print(len(df_all[df_all.page_id == -1]))
print(len(df_all[df_all.summary.isna() & df_all.page_id > 0]))
print(len(df_all))

212
296
35000

In [14]:
mask = (df_all.page_id ==-1)
df_all = df_all[~mask].iloc[:,1:]
print("Remove where page id is -1 ", len(df_all))
df_all = df_all[~df_all.title.str.contains("Template:")]
print("Remove articles with Template: ", len(df_all))

Remove where page id is -1  34788
Remove articles with Template:  34722

In [15]:
df_input = df_all

In [16]:
engine = sql.create_engine('sqlite:///kiru_db.db')
metadata = sql.MetaData()
articles = sql.Table('articles', metadata,
                sql.Column('title', sql.String),
                sql.Column('year', sql.Integer),
                sql.Column('month', sql.Integer),
                sql.Column('day', sql.Integer),
                sql.Column('view_count', sql.Integer),
                sql.Column('peak_date', sql.Date),
                sql.Column('summary', sql.Text),
                sql.Column('page_id', sql.Integer)
                )
metadata.create_all(engine)


with engine.connect() as con:

    for row in tqdm_notebook(df_input.iterrows(), total=len(df_input)):
        row = row[1]
        title = row['title']
        year = row['year']
        month = row['month']
        day = row['day']
        view_count =row['view_count']
        peak_date = row['peak_date']
        summary = row['summary']
        page_id = row['page_id']

        peak_date = datetime.datetime.strptime(peak_date, '%Y-%m-%d').date()
        con.execute(articles.insert(), {'title': title,
                                        'year': year,
                                        'month': month,
                                        'day': day,
                                        'view_count': view_count,
                                        'peak_date': peak_date,
                                        'summary': summary,
                                        'page_id': page_id})

HBox(children=(IntProgress(value=0, max=34722), HTML(value='')))